*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(edubag.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    background-color: #e0e048;
    height: 80px;
    width: 100%;

}
label.logo{
    color: aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    
}

a.active,a:hover{
background: #e3b920 ;
transition: 0.5s;
}

h1{
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
}

.box{
    border: 2PX solid;
    margin: 100px;
    text-align: center;
    
    
}
#b1{
    /* border: 2PX solid;
    margin: 200px;
    text-align: left; */
    padding: 25px;
    margin: 7%;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 50px;
    background-color:#e0e048 ;
    
}
/* Container styles */
.scrolling-text-container {
    background-color: #e0e048;
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
