.comp{
    color: #E0FB9D;
    font-family:sans-serif;
    font-style:italic;
    font-size: 100px;
    background-color: #B89DFB;
    padding: 50px;
    text-decoration: underline;
    margin: 0%;
    
}